<template name="addRequest">
    {{#autoForm id="addRequest" name="addRequest" collection="Requests" type="insert" preserveForm="true" doc=newRequest schema=Schemas.Request class="col s12"}}
        <div class="row">
            <div class="col s8">
                <h4 class="modal-title">Add a Request</h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                {{> afQuickField name="publisher" id="publisher" type="autocomplete-input" placeholder="Search for publishers..." autocomplete="off" settings=publisherSettings }}
            </div>
            <div class="input-field col s4">
                <div class="right">
                {{> afFieldInput name="type" type="switch" trueValue="Sell" trueLabel="Sell" falseLabel="Buy" falseValue="Buy" }}
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{> afQuickField name="title" type="autocomplete-input" placeholder="Search for titles..." autocomplete="off" autofocus="" settings=titleSettings }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                {{> afQuickField name="volume" label="Volume" }}
            </div>
            <div class="input-field col s4">
                {{> afQuickField name="minIssue" }}
            </div>
            <div class="input-field col s4">
                {{> afQuickField name="maxIssue" }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{> afQuickField name="minGrade" label="Minimum Grade" type="select" options=gradeList}}
            </div>
            <div class="input-field col s6">
                {{> afQuickField name="maxGrade" label="Maximum Grade" type="select" options=gradeList}}
            </div>
        </div>

        <div class="row">
            <span class="right">
            <button type="submit" class="btn waves-effect waves-light "><i class="material-icons left">done</i>Add Request</button>
            <button id="cancelAddRequest" class="btn red waves-effect waves-light"><i class="material-icons left">exit_to_app</i>Cancel</button>
            </span>
        </div>
    {{/autoForm}}
</template>