<template name="chat">
    <div class="modal-header">
        <h4 class="modal-title">Chat with <span class="teal-text">@{{ otherUser }}</span> about {{toLowerCase request.type}}ing {{request.title}}</h4>
    </div>
    <section class="js-request" data-id="{{request._id}}">
        <div class="row">
            <div class="col s4">
                <b>Publisher:</b> {{request.publisher}}
            </div>
            <div class="col s2">
                <b>Volume:</b> {{request.volume}}
            </div>
            <div class="col s2">
                <b>Issue(s):</b> {{request.minIssue}}{{#if $neq request.minIssue request.maxIssue}}-{{request.maxIssue}}{{/if}}
            </div>
            <div class="col s4">
                <b>Grade(s):</b> {{ getGradeLabel request.minGrade}}{{#if $neq request.minGrade request.maxGrade}}-{{ getGradeLabel request.maxGrade}}{{/if}}
            </div>
        </div>
        <br/>
        <div class="card-panel">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                        {{#each chat.messages}}
                            {{> message}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="js-send-chat">
                        <input class="input" type="text" name="chat" id="chat" placeholder="type a message here...">
                        <button class="btn btn-default">send</button>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </section>
</template>
