<template name="home">
    <div class="container">
        <div class="text-center">
            {{#unless currentUser}}
                <h1>Welcome to ComicsMart!</h1>
            <h4>What is ComicsMart?</h4>
            <p>
                ComicsMart allows you to quickly and easily register your interest in buying or selling comics - whether it is a range of comics or a single issue,
                ComicsMart makes it easy to match you up with other users who can meet your requirements.
            </p>
            <p>
                Please sign in (or register) to view your list of requests and hopefully have some matches you can trade on!
            </p>
            {{else}}
                {{> summary}}
            {{/unless}}

        </div>
    </div>
</template>