<template name="nav">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{pathFor 'home'}}" class="brand-logo"><h4>&nbsp;ComicsMart</h4></a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-main" data-activates="nav-moblie" class="right hide-on-med-and-down">
                    <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
                    {{#if currentUser}}
                        <li class="{{isActiveRoute regex='requests'}}"><a href="{{pathFor 'requests'}}">Requests</a></li>
                    {{/if}}
                    <li>{{> atNavButton }}</li>
                </ul>
                <ul class="side-nav hide-on-large-only" id="nav-mobile">
                    <li class="{{isActiveRoute regex='home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
                    {{#if currentUser}}
                        <li class="{{isActiveRoute regex='requests'}}"><a href="{{pathFor 'requests'}}">Requests</a></li>
                    {{/if}}
                    <li>{{> atNavButton }}</li>
                </ul>
            </div>
        </nav>
        </div>
</template>

