<template name="requests">
    <button class="btn btn-floating waves-effect waves-light js-addRequest tooltipped right" data-tooltip="Add a new Request"><i class="material-icons">add</i></button>
    <table class="highlight responsive-table js-requests">
        <thead>
        <tr>
            <th data-field="type">Buy/Sell</th>
            <th data-field="publisher">Publisher</th>
            <th data-field="title">Title</th>
            <th data-field="volume">Volume</th>
            <th data-field="issue">Issue(s)</th>
            <th data-field="grade">Grade(s)</th>
            <th data-field="matches">Matches</th>
        </tr>
        </thead>

        <tbody>
            {{#each requestList}}
                <tr>
                    <td>{{type}}</td>
                    <td>{{publisher}}</td>
                    <td>{{title}}</td>
                    <td>{{volume}}</td>
                    <td>{{minIssue}}{{#if $neq minIssue maxIssue}}-{{maxIssue}}{{/if}}</td>
                    <td>{{ gradeShortName minGrade}}{{#if $neq minGrade maxGrade}}-{{ gradeShortName maxGrade}}{{/if}}</td>
                    <td>{{matches.length}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>