<template name="requests">
    <b>Open requests</b>
    <button class="btn btn-floating waves-effect waves-light js-addRequest tooltipped right z-depth-2" data-tooltip="Add a new Request"><i class="material-icons">add</i></button>
    <button class="btn btn-floating waves-effect waves-light js-toggleRemoveRequests tooltipped z-depth-2 right red" data-tooltip="Delete Requests" style="margin-right:10px"><i class="material-icons">delete</i></button>
    <table class="highlight responsive-table js-requests">
        <thead>
        <tr>
            {{#if shouldShowDelete}}
                <th></th>
            {{/if}}
            <th data-field="type">Buy/Sell</th>
            <th data-field="publisher">Publisher</th>
            <th data-field="title">Title</th>
            <th data-field="volume">Volume</th>
            <th data-field="issue">Issue(s)</th>
            <th data-field="grade">Grade(s)</th>
            <th data-field="matches">Matches</th>
        </tr>
        </thead>

        <tbody>
            {{#each requestList}}
                <tr>
                    {{#if shouldShowDelete}}
                        <td><button class="btn btn-floating btn-small waves-effect waves-light js-removeRequest z-depth-2 tooltipped red" data-id="{{_id}}" data-title="{{title}}" data-tooltip="Delete this Request"><i class="material-icons">remove</i></button>
                        </td>
                    {{/if}}
                    <td>{{type}}</td>
                    <td>{{publisher}}</td>
                    <td>{{title}}</td>
                    <td>{{volume}}</td>
                    <td>{{minIssue}}{{#if $neq minIssue maxIssue}}-{{maxIssue}}{{/if}}</td>
                    <td>{{ gradeShortName minGrade}}{{#if $neq minGrade maxGrade}}-{{ gradeShortName maxGrade}}{{/if}}</td>
                    <td>{{matches.length}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>